

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
body{
    height: 100vh;
}


img{
    background-position: center;
    display: block;
    max-height: 100%;
    width: 1500px;
}
div a {
    padding-right: 200px;
}
.nav-link ul{
    color: rgb(240, 255, 241);
    margin-left: 12px;
    position: relative;
    padding-right:100px ;
}



    